.popup_is-animated {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: visibility 0s 0.6s, opacity 0.6s;
}  

.popup_is-opened.popup_is-animated {  
    visibility: visible; /* Сделать попап видимым при открытии */  
    opacity: 1; /* Сделать попап видимым */  
    pointer-events: auto; /* Включить взаимодействие с попапом */  
    user-select: text; /* Разрешить выделение текста */  
    transition: visibility 0s, opacity 0.6s; /* Плавное открытие */  
}